@model IEnumerable<ASPCoreTraining.Web.Models.Employee>

@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Employee Page</title>
    </head>

    @if(ViewBag.Message != null)
    {
        <div style="color:green">@ViewBag.Message</div><br/>
    }

    <a href="/Employees/Add">Tambah Employee</a>
    <body>
        <table border="1">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Address</th>
                <th>Employee Email</th>
                <th>Department</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FullName</td>
                    <td>@employee.Address</td>
                    <td>@employee.Email</td>
                    <td>@employee.Department</td>
                    <td><a href="/Employees/Details/@employee.EmployeeId">detail</a></td>
                <td><a href="/Employees/Edit/@employee.EmployeeId">update</a></td>
                </tr>
            }
        </table>
    </body>
</html>