@model ASPCoreTraining.Domain.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid px-4">
    <div class="card">
        <div class="card-header text-teal ">Hi, Adi Priono</div>
        <div class="card-body">

            <div class="row gx-3 ">

                <!-- Section Header -->
                <div class="col-md-12 mb-3">
                    <div class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.EmployeeId)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.EmployeeId)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.FullName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.DepartmentId)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.DepartmentId)
                                    </dd>
                                </dl>
                                <hr/>
                                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) 
                                <a asp-action="Edit" asp-route-id="@Model.EmployeeIdMasking">Edit</a> | 
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>

           
                <!-- Section 2 -->
                <!-- Section 3 -->
                <!-- Section Button -->
                @*  <div class="col-md-4 mb-3">
                <div class="mb-3">
                <!-- Save changes button-->

                </div>
                </div> *@

            </div>

        </div>
    </div>
</div>


