@model IEnumerable<ASPCoreTraining.Domain.Department>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid px-4">
    <div class="card">
        <div class="card-header text-teal ">@Html.Raw(@ViewBag.Message)</div>
        <div class="card-body">

            <div class="row gx-3 ">

                <!-- Section Header -->
                <div class="col-md-12 mb-3">
                    <div class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <a class="btn btn-success btn-xs" asp-action="Create">Create New</a>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DepartmentId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DepartmentName)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DepartmentId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                                </td>
                                                <td>
                                                    <a asp-action="Details" class="btn btn-primary btn-xs" asp-route-id="@item.DepartmentId">Detail</a> &nbsp;
                                                    <a asp-action="Edit" class="btn btn-warning btn-xs" asp-route-id="@item.DepartmentId">Edit</a> &nbsp;
                                                    <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.DepartmentId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>


                <!-- Section 2 -->
                <!-- Section 3 -->
                <!-- Section Button -->
                @*  <div class="col-md-4 mb-3">
                <div class="mb-3">
                <!-- Save changes button-->

                </div>
                </div> *@

            </div>

        </div>
    </div>
</div>
